SLACK_BOT_TOKEN = # your slack bot token
SLACK_APP_TOKEN = # your slack app token
SENTRY_DSN = # OPTIONAL (error tracking)
HCA_API_URL = # TODO: bye bye soon
CMAN_USER_ID = # dat's you!
PERSONAL_CHANNEL_ID = # your personal channel id!
PERSONAL_USERGROUP_ID = # your personal usergroup id!
